@model Storage.Models.Product

@inject ICategorySelectListService service

@{
    ViewData["Title"] = "Index";  
}

<h1>Index</h1>
<form asp-action="FilterCategories">
    <div class="input-group mb-3">
        <input type="text" asp-for="Name" class="form-control" placeholder="Sök på kategori..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Sök</button>
        </div>
    </div>


<div class="input-group-append">
        <select class="form-control" asp-for="Category" asp-items="@await service.GetCategoriesAsync()">
        <option selected="selected" value="">Please select</option>
    </select>
</div>
</form>
<p>    
    <a asp-action="Create" class="btn btn-primary">Create</a>
    <a asp-action="Inventory" class="btn btn-primary">Inventory</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
      
<partial name="ProductsTablePartial" model="@Model.Products" />